body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #323232;
	background-image: url('prism.png');
}

#content-wrap {
	width: 66%;
	min-width: 640px;
	background-color: white;
	padding: 24px 32px;
	margin: 32px auto !important;
	box-shadow: 0 3px 10px rgba(0,0,0,.75), 0 3px 10px rgba(0,0,0,.5);
}

h4.head {
	font-size: 1.25rem;
	padding: 4px 6px;
	max-width: 180px;
	border-bottom: 2px solid #323232;
}

.content-body {
	padding: 4px 8px;
}

.content-list {
	display: block;
}

.main-txt {
	font-size: 0.9em;
}

b {
	font-weight: 600;
}